<h3 class="heading">ラウンド募集一覧</h3>

<% if user_signed_in? %>
  <div>
    <%= link_to "主催ラウンドを作成", new_round_path, class:"btn btn-info" %>
  <div>
<% end %>
<!--検索・ソート-->
<div class="round-search">
  <div>絞り込み検索</div>
  <%= form_tag({controller: "rounds", action: "search" }, {method: "get"}) do %>
    <%= select_tag(:region_id, options_from_collection_for_select(@regions, :id, :region_name, params[:region_id])) %>
    <%= select_tag(:round_date, options_for_select([["#{Date.current.strftime("%m月")}", "#{Date.current.strftime("20%y-%m")}"],
                                                    ["#{Date.current.next_month(1).strftime("%m月")}", "#{Date.current.next_month(1).strftime("20%y-%m")}"],
                                                    ["#{Date.current.next_month(2).strftime("%m月")}", "#{Date.current.next_month(2).strftime("20%y-%m")}"]
                                                    ], :selected => params[:round_date])) %>
    <%= submit_tag "検索" %>
  <% end %>

<!--   <div>並び替え</div>
    link_to "開催日順", sort_rounds_path(sort_type: '1')
    link_to "　新着順", sort_rounds_path(sort_type: '2')
 --></div>

<!--ラウンド一覧情報-->
<div class="round-index">

  <div class="pagenate">
    <%= paginate @rounds %>
  </div>

  <% @rounds.each do |round| %>
    <div class="row round-index-box">
      <div class="left-box col-sm-3 col-xs-3">
        <div>
          <!-- 日程 -->
          <%= round.round_date.strftime("20%y年%m月%d日") %>
        </div>
        <div>
          <%= "場　所：" + round.prefecture.pref_name %>
          <!-- 地方id(非表示) -->
          <% round.prefecture.region_id %>
        </div>
        <div>
          <%= "参加数：" + round.users_rounds.where(approval_flag: "1").count.to_s %>
        </div>
        <div>
          <%= "定　員：" + round.capacity.to_s %>
        </div>
      </div>
      <div class="right-box col-sm-9 col-xs-9">
        <div>
          <%= link_to round.round_title, round_path(round) %>
        </div>
        <div>
          <%= "コース名：" + round.map.place %>
        </div>
        <div>
          <%= "主催者　：" + round.users_rounds.first.user.user_name %>
        </div>
        <div class="index-intro-title">
          内　容：
        </div>
        <div class="index-intro-text">
          <%= round.round_intro.truncate(50, omission: '...') %>
        </div>
      </div>
    </div>
  <% end %>
  <!-- end  -->

  <div class="pagenate">
    <%= paginate @rounds %>
  </div>

</div>
