<h3 class="heading">ラウンド詳細情報</h3>

<% if current_user.id == @master.user_id %>
<div>
  <%= link_to "ラウンド情報編集", edit_round_path, class:"btn btn-success" %>
</div>
<% end %>

<div>
  <%= link_to "ラウンド一覧へ", rounds_path, class:"btn btn-default" %>
  <% if @user_round.blank? %>
   <%= link_to "参加申請", apply_round_path(@round.id), method: :post, class:"btn btn-info", "data-confirm" => "このラウンドに参加申請を送りますか？" %>
  <% end %>
</div>

<div class="round-info">
  <div>
    <%= @round.round_date.strftime("20%y年%m月%d日") %>
  </div>
  <div>
    <%= "場　所：" + @round.prefecture.pref_name %>
  </div>
  <div>
    <%= @round.round_title %>
  </div>
  <div>
    <span>主催者：</span><%= link_to @master.user.user_name, user_path(@master.user_id) %>
  </div>
  <div>
    <%= "コース名：" + @round.map.place %>
    <%= @lat %>
    <%= @lng %>
  </div>
  <% if @lat.present? %>
  <div>
    <div id='map'></div>
  </div>
  <% end %>
  <div>
    <%= "参加数：" + @members.count.to_s %>
  </div>
  <div>
    <%= "定員数：" + @round.capacity.to_s %>
  </div>
  <div>
    <%= "詳細情報：" + @round.round_intro %>
  </div>
</div>

<!-- タブ・メニュー -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#round-comments" data-toggle="tab">コメント掲示板</a></li>
  <li><a href="#round-members" data-toggle="tab">参加者一覧</a></li>
  <% if current_user.id == @master.user_id %>
  <li><a href="#round-applicants" data-toggle="tab">参加希望者</a></li>
  <% end %>
</ul>

<div class="tab-content">
  <!--　コメント一覧　-->
  <div id="round-comments" class="tab-pane active">
      <% if @member.present? %>
      <span>
        <%= link_to "新規投稿", new_comment_path(@round.id), class:"btn btn-primary" %>
      </span>
      <% end %>
    <% @comments.each do |c| %>
    <div class="comments">
      <div>
        <span>
          投稿者 ：<%= link_to c.user.user_name, user_path(c.user_id) %>
        </span>
        <span>
          <%= c.created_at.strftime("20%y/%m/%d %H:%M") %>
        </span>
        <% if c.user_id == current_user.id %>
        <sapn>
          <%= link_to "削除", comment_path(c.id), method: :delete, class:"btn-sm btn-danger", "data-confirm" => "本当に削除しますか？" %>
        </span>
        <% end %>
      </div>
      <div>
        <%= c.comment %>
      </div>
    </div>
    <% end %>
  </div>
  <!--　参加者一覧　-->
  <div id="round-members" class="tab-pane">
    <% @members.each do |member| %>
    <div class="member-info">
      <span>
        会員名：<%= link_to member.user.user_name, user_path(member.user_id) %>
      </span>
    </div>
    <% end %>
  </div>
  <!--　参加希望者一覧　-->
  <div id="round-applicants" class="tab-pane">
    <% @apply.each do |apply| %>
    <div>
      <span>
        会員名：<%= link_to apply.user.user_name, user_path(apply.user_id) %>
      </span>
      <span>
        <%= apply.created_at.strftime("20%y/%m/%d %H:%M") %>
      </span>
      <% if current_user.id == @master.user_id %>
      <span>
        <%= link_to "承認", approval_round_path(user_id: apply.user_id, round_id: apply.round_id), method: :patch, class:"btn-sm btn-info", "data-confirm" => "承認しますか？" %>
      </span>
      <span>
        <%= link_to "拒否", refuse_round_path(user_id: apply.user_id, round_id: apply.round_id), method: :delete, class:"btn-sm btn-danger", "data-confirm" => "本当に拒否してもよろしいですか？" %>
      </span>
      <% end %>
    </div>
    <% end %>
  </div>

</div>

<!-- googlemap -->
<style>
#map{
  height: 400px;
}
</style>

<script>
  var pos = {lat: <%= @lat %>, lng: <%= @lng %>}
  console.log(pos);

  function initMap(){
    mapInstance = new google.maps.Map(document.getElementById('map'), {
    center: pos,
    zoom: 15
    });

    var marker = new google.maps.Marker({
      map: mapInstance,
      position: pos,
      animation: google.maps.Animation.DROP
    });

  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&language&callback=initMap" async defer></script>
