<!-- トップ画像 -->
<div class="top-image">
  <div class="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>

<h3 class="heading">新着ラウンド募集</h3>
<!-- 新着ラウンド募集 -->
<div class="new-rounds">
  <% @rounds.each do |round| %>
  <% if Date.current < round.round_date %>
  <div class="row round-index-box">
    <div class="left-box col-sm-3 col-xs-3">
      <div>
        <!-- 日程 -->
        <%= round.round_date.strftime("20%y年%m月%d日") %>
      </div>
      <div>
        <%= "場　所：" + round.prefecture.pref_name %>
        <!-- 地方id(非表示) -->
        <% round.prefecture.region_id %>
      </div>
      <div>
        <%= "参加数：" + round.users_rounds.where(approval_flag: "1").count.to_s %>
      </div>
      <div>
        <%= "定　員：" + round.capacity.to_s %>
      </div>
    </div>
    <div class="right-box col-sm-9 col-xs-9">
      <div>
        <%= link_to round.round_title, round_path(round) %>
      </div>
      <div>
        <%= "コース名：" + round.map.place %>
      </div>
      <div>
        <%= "主催者　：" + round.users_rounds.first.user.user_name %>
      </div>
      <div>
        <%= "内　容　：" + round.round_intro.truncate(50, omission: '...') %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
  <div class="round-more">
    <%= link_to "もっと見る", rounds_path %>
  </div>
</div>

<!-- 新着サークル -->
<h3 class="heading">新規サークル情報</h3>
<div style="height:10em">
  <h2>coming soon...</h2>
</div>

<!-- 新会員情報 -->
<h3 class="heading">新規会員情報</h3>
<div class="new-users">
  <% @users.each do |user| %>
  <div class="user-item">

    <% if user_signed_in? %>
    <div>
      <%= link_to user_path(user.id) do %>
        <%= attachment_image_tag user, :user_image, :fill, 120, 120, fallback: "no_image.jpg", size:'120x120' %>
      <% end %>
    </div>
    <div>
      <%= link_to user.user_name, user_path(user.id) %>
    </div>

    <% else %>
    <div>
      <%= link_to new_user_session_path do %>
        <%= attachment_image_tag user, :user_image, :fill, 120, 120, fallback: "no_image.jpg", size:'120x120' %>
      <% end %>
    </div>
    <div>
      <%= link_to user.user_name, new_user_session_path %>
    </div>
    <% end %>

    <div>
      <%= "活動地域：" + user.prefecture.pref_name %>
    </div>
    <div>
      <%= "平均スコア：" + user.av_score %>
    </div>
  </div>
  <% end %>
</div>