<!DOCTYPE html>
<html>
  <head>
    <title>Golfhub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="wrapper">
      <!--　ヘッダー　-->
      <header>
        <nav class="navbar navbar-default">
          <div class="container-fluidas" style="width: 90%;margin:0 auto;">
            <div class="navbar-header">
              <%= link_to "Golf hub", root_path, class: "navbar-brand", data: {"turbolinks" => false} %>
            </div>
            <ul class="nav navbar-nav">
              <li><%= link_to "Golfhubとは？", about_path, class: "btn btn-default navbar-btn" %></li>
              <li><%= link_to "ラウンド募集", rounds_path, class: "btn btn-default navbar-btn" %></li>
              <% if user_signed_in? %>
                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn" %>
                </li>
              <% else %>
                <li>
                  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success navbar-btn" %>
                </li>
                <li>
                  <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary navbar-btn" %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </header>

      <!-- サイドバー・コンテンツ -->
      <div>
      <!-- サイドバー -->
        <div id="sidebar" class="col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1">
          <div class="mymenu-title">マイメニュー</div>
          <% if user_signed_in? %>
            <div class="mymenu-item"><%= link_to "マイページ", user_path(current_user.id) %></div>
            <div class="mymenu-item"><%= link_to "ラウンド予定", myrounds_path %></div>
            <div class="mymenu-item"><%= link_to "ラウンド履歴", history_path %></div>
            <div class="mymenu-item"><%= link_to "メッセージ", myrooms_path(current_user.id) %></div>
          <% else %>
            <div class="mymenu-item">
              <%= link_to "ログイン", new_user_session_path %>
            </div>
          <% end %>
        </div>

        <!-- コンテンツ -->
        <div id="contents" class="col-sm-8 col-xs-8">
          <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <%= yield %>
          </div>
        </div>
      </div>
      <!-- 空要素 -->
      <div class="push"></div>

    </div>

    <!-- フッター -->
    <div class="footer col-sm-12 col-xs-12">
      <p>© Golfhub.inc</p>
    </div>


  </body>
</html>
