<h3 class="my-heading">
  <sapan class="glyphicon glyphicon-cog"></sapan>
  プロフィール編集
</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :"表示名" %><br />
    <%= f.text_field :user_name, autofocus: true  %>
  </div>

  <div class="field">
    <%= f.label :"プロフィール画像" %><br />
    <%= f.attachment_field :user_image %>
  </div>

  <div class="field">
    <%= f.label :"年齢" %><br />
    <%= f.select :age, ["10代", "20代", "30代", "40代", "50代","60代以上"] %>
  </div>

  <div class="field">
    <%= f.label :"お住まいの都道府県" %><br />
        <%= f.collection_select(:prefecture_id, @prefecture, :id, :pref_name) %>
  </div>

  <div class="field">
    <%= f.label :"ご職業" %><br />
    <%= f.select :user_job, ["会社員", "公務員", "経営者・役員", "自営業", "自由業", "専業主婦", "パート・アルバイト", "学生", "その他"] %>
  </div>

  <div class="field">
    <%= f.label :"ゴルフ歴" %><br />
    <%= f.select :exp_golf, ["1年未満", "1~2年", "2~5年", "5~10年","10年以上"] %>
  </div>

  <div class="field">
    <%= f.label :"平均スコア" %><br />
    <%= f.select :av_score, ["70未満", "71~80", "81~90", "91~100", "101~110", "111~120", "121~130", "131~140", "141以上"] %>
  </div>

  <div class="field">
    <%= f.label :"性別" %><br />
    <%= f.select :user_sex, [["男性",0],["女性",1]] %>
  </div>

  <div class="field">
    <%= f.label :"自己紹介" %><br />
    <%= f.text_area :user_intro, class: "user_intro", size: "50x5"  %>
  </div>

  <div class="field">
    <%= f.label :"新規パスワード" %> <i>(変更する場合は入力してください)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %><span>(半角英数６文字以上)</span>
  </div>

  <div class="field">
    <%= f.label :"新規パスワード（再入力）" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>


  <div class="field">
    <%= f.label :"現在のパスワード" %> <i>(情報を変更した場合は入力して更新ボタンを押して下さい。)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新する", class:"btn btn-success" %>
  </div>
<% end %>

<%= link_to "戻る", :back, class:"btn btn-default" %><br />

<%= link_to "退会する", unsubscribe_path(current_user), class:"btn btn-danger" %>
